/* histPlace */

.histPlace {
	.container {
		padding-bottom: 5rem;
	}
}

.histPlace-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 4rem;
	margin-top: 10.5rem;

	@media screen and (max-width: 460px) {
		flex-direction: column;
		gap: 1rem;
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		gap: 1.2rem;
	}

	.photo-container {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 42rem;
		flex: 1 1 42rem;

		@media screen and (max-width: 460px) {
			flex: 1 1 1rem;
		}
	
		@media screen and (max-width: 768px) {
			flex: 1 1 1rem;
		}
	}

	.photo-container img {
		border-radius: 1rem;
		width: 100%;
	}

	.content {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 42em;
		flex: 1 1 42rem;
		margin-bottom: 5rem;

		@media screen and (max-width: 460px) {
			margin-bottom: 1rem;
			flex: 1 1 1rem;
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 1rem;
			flex: 1 1 1rem;
		}
	}

	.content span {
		color: #1ec6b6;
		font-size: 2rem;
	}

	.content h3 {
		color: #000;
		font-size: 3rem;
		padding-bottom: 1rem;
	}

	.content p {
		font-size: 1rem;
		color: #3d3d3d;
		line-height: 2;
	}

	.stars {
		position: relative;
		font-size: 80px;
		display: inline-block;
	}
}
