footer{
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    position: relative;
}
footer::before{
    content: "";
    position: absolute;
    background-color: var(--green);
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
}
footer .site-brand{
    margin-bottom: 1.5rem;
    display: block;
    font-size: 2rem!important;
}
.footer-item{
    margin: 3rem 0;
}
.footer-item a{
    font-size: 1.2rem;
    color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.footer-item a:hover{
    color: var(--green);
}
.footer-item ul{
    padding: 0;
}
.footer-item h2{
    margin-bottom: 1.4rem;;
}
.footer-item:nth-child(3) li{
    margin: 0.5rem 0;
}
.footer-item:nth-child(3) a{
    display: inline-block;
    font-size: 1rem;
    opacity: 0.7;
}